section {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  section {
    margin-bottom: 94px;
    margin-top: 94px;
  }
}

.container {
  width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

body {
  background-color: var(--primary-white-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --title-text-color:#212121;
  --accent-color: #2196F3;
  --secondary-color: #757575;
  --first-color: #2F303A;
  --primary-white-color:#FFFFFF;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
}

@-webkit-keyframes share {
  0% {
    transform: translate(10px);
  }
  25% {
    transform: translate(-20px);
  }
  75% {
    transform: translate(10px);
  }
  0% {
    transform: translate(0px);
  }
}

@keyframes share {
  0% {
    transform: translate(10px);
  }
  25% {
    transform: translate(-20px);
  }
  75% {
    transform: translate(10px);
  }
  0% {
    transform: translate(0px);
  }
}
.socials {
  justify-content: center;
  display: flex;
}

.socials__link {
  color: #AFB1B8;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.socials__item {
  width: 44px;
  height: 44px;
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__icon {
  fill: currentColor;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  transition: opacity 250ms, visibility 250ms;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.6), 1px 4px 6px rgba(0, 0, 0, 0.16);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop.is-hidden .modal {
  transform: translate(-50% -50%) scale(0.9);
}

.modal {
  position: absolute;
  background-color: var(--primary-white-color);
  width: 450px;
  min-height: 581px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms var(--timing-function);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 521px;
  }
}

.button-open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--primary-white-color);
}
.button-open:hover, .button-open:focus {
  fill: var(--accent-color);
}
.button-open .modal__icon {
  width: 18px;
  height: 18px;
  fill: #000000;
  cursor: pointer;
  transition: fill 250ms var(--timing-function);
}

.modal-form {
  padding: 35px;
}

.modal-form__field {
  margin-bottom: 12px;
}

.modal-form__check {
  margin-bottom: 30px;
}

.modal-form__wrapper {
  margin-bottom: 20px;
}

.modal-form__input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  display: block;
  transition: border 250ms var(--timing-function);
}
.modal-form__input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}
.modal-form__input:focus:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__input:not(:-moz-placeholder-shown) + .modal-form__label {
  transform: translateY(-50px);
}

.modal-form__input:not(:-ms-input-placeholder) + .modal-form__label {
  transform: translateY(-50px);
}

.modal-form__input:focus + .modal-form__label,
.modal-form__input:not(:placeholder-shown) + .modal-form__label {
  transform: translateY(-50px);
}

.modal-form-modal__title {
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
  display: block;
}

.form-button {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: #188CE8;
  color: var(--primary-white-color);
  width: 200px;
  height: 50px;
  margin-left: 149px;
  border-radius: 4px;
  border: 0;
}

.modal-form__label {
  font-size: 12px;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: 0.01em;
  display: block;
  text-align: left;
  margin-bottom: 4px;
  margin-bottom: 4px;
  color: var(--secondary-color);
}

.form-comment {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
  letter-spacing: 0.01em;
  width: 448px;
  height: 138px;
  padding: 16px 12px;
  margin-left: 55px;
  border-radius: 4px;
  border: 1px solid var(--title-text-color);
  resize: none;
  text-align: left;
  color: var(--secondary-color);
}

.comment-label {
  font-size: 12px;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin-top: 10px;
  margin-bottom: 4px;
  text-align: left;
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
  fill: currentColor;
  cursor: pointer;
}

.input-wrap {
  display: block;
  position: relative;
}

.modal-form__coment {
  font-size: 12px;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: 0.01em;
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  color: var(--secondary-color);
  text-align: left;
}
.modal-form__coment:not(:-moz-placeholder-shown) + .modal-form__label {
  transform: translateY(-50px);
}
.modal-form__coment:not(:-ms-input-placeholder) + .modal-form__label {
  transform: translateY(-50px);
}
.modal-form__coment:focus + .modal-form__label, .modal-form__coment:not(:placeholder-shown) + .modal-form__label {
  transform: translateY(-50px);
}

.modal-form-check__label {
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.01em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--secondary-color);
  padding-top: 20px;
}
.modal-form-check__label::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
  border: 2px solid var(--secondary-color);
  color: var(--title-text-color);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: background 250ms var(--timing-function);
}
.modal-form-check__label .checkbox:checked + .modal-form-check__label::before {
  background: var(--accent-color);
  background-image: url("../images/check.svg");
}

.checkbox:checked + .modal-form-check__label::before {
  background: var(--accent-color);
  background-image: url("../images/check.svg");
}

.modal-form-check-label__item {
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

.logo {
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
  display: flex;
  font-family: Raleway, sans-serif;
}

.logo_color_light {
  color: var(--accent-color);
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .logo_color_light {
    margin-right: 93px;
  }
}

.logo_color_dark {
  color: var(--title-text-color);
}

.header-items {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header-items {
    display: flex;
    margin-right: 84px;
  }
}

.header-list {
  display: none;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
  }
}

.header-list__item {
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  position: relative;
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-list__link--current {
  color: var(--accent-color);
}

.header-list__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -25px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-list__link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  transition: color 250ms var(--timing-function);
}
@media screen and (min-width: 768px) {
  .header-list__link {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header-list__link:hover,
.header-list__link:focus {
  color: var(--accent-color);
}

.contacs__link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms var(--timing-function);
}
@media screen and (min-width: 768px) {
  .contacs__link {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .contacs__link {
    display: flex;
  }
}

.contacs__link:hover,
.contacs__link:focus {
  color: var(--accent-color);
}

.contacs {
  margin-left: auto;
  display: none;
}
@media screen and (min-width: 768px) {
  .contacs {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacs {
    display: flex;
  }
}

.contacs__items {
  display: flex;
  align-items: center;
}
.contacs__items:not(:last-child) {
  margin-right: 30px;
}
@media screen and (min-width: 768px) {
  .contacs__items:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contacs__items {
    align-items: baseline;
    display: flex;
    margin-bottom: 0;
  }
  .contacs__items:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.contacs__icon {
  margin-right: 10px;
  fill: currentColor;
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 768px) {
  .contacs__icon:nth-child(1) {
    width: 14px;
    height: 10px;
  }
  .contacs__icon:nth-child(2) {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacs__icon:fnth-child(1) {
    width: 16px;
    height: 12px;
  }
  .contacs__icon:nth-child(2) {
    width: 10px;
    height: 16px;
  }
}

.menu-open,
.menu-close {
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
}

.menu-close {
  position: absolute;
  right: 15px;
  top: -37px;
}

.burger {
  position: relative;
  display: block;
}
.menu-open:hover .burger {
  background-color: var(--accent-color);
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  top: 0;
  padding-top: 48px;
  padding-bottom: 48px;
}
.mob-menu .container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-link {
  font-size: 40px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--title-text-color);
}

.mob-menu-link--current {
  color: var(--accent-color);
}

.mob-contacs-list {
  margin-bottom: 32px;
}

.mob-contacs-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-contacs-link {
  font-size: 24px;
  line-height: 1.16;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.mob-contacs-tel-link {
  font-size: 34px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: left;
}

.mob-social-list {
  display: flex;
  margin-top: 64px;
}

.mob-social-item:not(:last-child) {
  margin-right: 10px;
}
.mob-social-item:not(:last-child) .mob-social-link {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  padding-right: 10px;
}

.mob-social-link {
  font-size: 18px;
  line-height: 1.22;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--accent-color);
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .icon-menu {
    display: none;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--first-color);
  background-image: linear-gradient(rgba(47, 48, 50, 0.4), rgba(47, 48, 50, 0.4)), url(../images/team/mob_hero1x.);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 50, 0.4), rgba(47, 48, 50, 0.4)), url(../images/team/mob_hero1x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 50, 0.4), rgba(47, 48, 50, 0.4)), url(../images/team/tab_hero1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 50, 0.4), rgba(47, 48, 50, 0.4)), url(../images/team/tab_hero2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 50, 0.4), rgba(47, 48, 50, 0.4)), url(../images/team/des_hero1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 50, 0.4), rgba(47, 48, 50, 0.4)), url(../images/team/des_hero2x.jpg);
  }
}

.hero__title {
  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
  }
}

.hero__button {
  display: block;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.85;
  font-weight: 700;
  letter-spacing: 0.06em;
  height: 50px;
  width: 200px;
  border-radius: 4px;
  border: transparent;
  text-align: center;
  background-color: #188CE8;
  color: var(--primary-white-color);
  margin-left: auto;
  margin-right: auto;
  transition: backgroud-color 250ms var(--timing-function);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .hero__button {
    font-size: 16px;
    line-height: 1.85;
    font-weight: 700;
    letter-spacing: 0.06em;
    height: 50px;
    width: 200px;
  }
}

.feature {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .feature {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.feature__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 110px;
  background-color: #f4f5f4;
  border-radius: 4px;
}

.feature__item {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .feature__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.feature__title {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .feature__title {
    text-align: left;
  }
}

.feature__text {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.section--no-padding-top {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 1200px) {
  .section--no-padding-top {
    display: block;
  }
}

.section__title {
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
  color: var(--title-text-color);
}

.works__subtitle {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  width: 100%;
  height: 70px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
}

.works__wrapper {
  position: relative;
}

.works {
  display: flex;
}

.works__item {
  width: 370px;
}
.works__item:not(:last-child) {
  margin-right: 30px;
}

.section--great-background {
  background-color: #F5F4FA;
}

.section__title {
  font-size: 28px;
  line-height: 1.16;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.team {
  text-align: center;
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team__picture {
  display: inline-block;
  height: auto;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

.team__title {
  font-size: 16px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team__text {
  font-size: 16px;
  line-height: 1.12;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-top: 10px;
  margin-bottom: 16px;
}

.team__thumb {
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  text-align: center;
}

.section__title {
  font-size: 28px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.perfomance__list {
  margin-bottom: -30px;
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
}

.perfomance__item {
  height: 90px;
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .perfomance__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .perfomance__item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.perfomance__link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  transition: border-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.perfomance__link:hover, .perfomance__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.perfomance__icon {
  fill: currentColor;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    display: block;
    text-align: start;
    margin-bottom: 0;
  }
}

.main-footer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .main-footer {
    margin-left: 0;
    margin-right: 0;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

.footer__logo {
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
}

.footer-main-contacs {
  margin-top: 20px;
}

.logo__label {
  color: var(--accent-color);
}

.footer__adress {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
  display: block;
  text-decoration: none;
  font-style: normal;
  color: var(--primary-white-color);
  transition: color 250ms var(--timing-function);
}
.footer__adress:hover, .footer__adress:focus {
  color: var(--accent-color);
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  font-size: 14px;
  line-height: 1.71;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);
}
.footer__link:hover, .footer__link:focus {
  color: var(--accent-color);
}

.footer-main-contacts {
  margin-top: 20px;
}

.socials__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .socials__footer {
    align-items: flex-start;
    margin-bottom: 0;
  }
}

.socials__caption {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.socials__footer__list {
  display: flex;
  margin-top: 20px;
}

.socials__footer__item:not(:last-child) {
  margin-right: 10px;
}
.socials__footer__item:not(:last-child):hover,
.socials__footer__item:not(:last-child) :focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.socials__footer__link {
  display: block;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}
.socials__footer__link:focus {
  background-color: var(--accent-color);
}

.socials__footer__icon {
  fill: var(--primary-white-color);
}

.third-footer {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: 0.03em;
  background-color: #2F303A;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .third-footer {
    margin-top: 60px;
  }
}
.third-footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .third-footer__form {
    align-items: flex-start;
  }
}
.third-footer__wrap {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .third-footer__wrap {
    align-items: normal;
    flex-direction: row;
  }
}
.third-footer__input {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
  padding-left: 16px;
}
@media screen and (min-width: 768px) {
  .third-footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .third-footer__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.second-footer__title {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-input input::-moz-placeholder {
  padding: 15px 16px;
}

.footer-input input:-ms-input-placeholder {
  padding: 15px 16px;
}

.footer-input input::placeholder {
  padding: 15px 16px;
}

.third-footer__button {
  font-size: 16px;
  line-height: 1.85;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .third-footer__button {
    margin-left: 12px;
  }
}

.third-button__icon {
  fill: var(--primary-white-color);
  margin-left: 10px;
}

.container {
  width: 1200px;
  padding: 5px;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.test-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  padding: 0;
}

.test-item {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  flex-basis: calc((100% - 30px) /3 );
  background-color: blue;
  outline: 1px solid tomato;
}
.test-item:not(:last-child) {
  margin-bottom: 20px;
}

.section-filter__list {
  display: flex;
  color: var(--title-text-color);
  margin-left: -8px;
  margin-top: -15px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .section-filter__list {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .section-filter__list {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.section-filter__item {
  flex-basis: calc(100% / 3 -30px);
  margin-left: 8px;
  margin-bottom: 15px;
}

.section-filter__item:not(:last-child) {
  margin-right: 8px;
}

.section-filter__button {
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.03em;
  border: transparent;
  cursor: pointer;
  min-width: 73px;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.section-filter__button:hover, .section-filter__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio {
    margin-left: -30px;
    margin-top: -30px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.portfolio__link {
  display: block;
  text-decoration: none;
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px #00000029;
}
.portfolio__cards:hover .portfolio__link, .portfolio__cards:focus .portfolio__link {
  color: rgba(47, 48, 50, 0.4), rgba(47, 48, 50, 0.4);
}
.portfolio__link:hover .portfolio__desc, .portfolio__link:focus .portfolio__desc {
  transform: translateY(0%);
}

.portfolio__desc {
  font-size: 18px;
  line-height: 1.55;
  font-weight: 400;
  letter-spacing: 0.03em;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  justify-content: center;
  color: var(--primary-white-color);
  background-color: rgba(33, 159, 243, 0.9);
  overflow: hidden;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.portfolio-cards__thumb {
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 1x;
  border-bottom-right-radius: 1px;
}

.portfolio__title {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-top: 4px;
  color: var(--secondary-color);
}

.portfolio__content {
  padding: 20px 24px 20px 24px;
  border-bottom: 1px solid #EEEEEE;
}/*# sourceMappingURL=main.css.map */